@import "../../styles/common.scss";

.auth {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  background-image: url("../../img/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  &__toggler {
    display: inline-flex;
    width: 100%;
    background: $color-white;
    padding: 10px;
    justify-content: flex-end;

    @include tablets {
      display: none;
    }
  }

  &__container {
    display: flex;
    width: 96%;
    flex-direction: column;
    height: 100%;

    background: linear-gradient(
      35deg,
      rgba($color-second-main-bg, 0.7),
      rgba($color-main-bg, 0.7)
    );
    border-radius: 10px;
    box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
      0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);

    max-width: 758px;
    overflow: hidden;
    position: relative;

    &_is_signup .container--signin {
      display: none;
    }
    &_is_signup .container--signup {
      display: block;
    }

    @include tablets {
      display: block;
      width: 80vw;
      flex-direction: row;
      height: 420px;

      &.right-panel-active .container--signin {
        transform: translateX(100%);
      }

      &.right-panel-active .container--signup {
        animation: show 0.6s;
        opacity: 1;
        transform: translateX(100%);
        z-index: 5;
      }

      &.right-panel-active .auth__overlay {
        transform: translateX(-100%);
      }

      &.right-panel-active .overlay {
        transform: translateX(50%);
      }

      &.right-panel-active .overlay--left {
        transform: translateX(0);
      }

      &.right-panel-active .overlay--right {
        transform: translateX(20%);
      }
    }
  }

  &__form {
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.6s ease-in-out;
  }

  &__overlay {
    display: none;
    height: 100%;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: transform 0.6s ease-in-out;
    width: 50%;
    z-index: 100;

    @include tablets {
      display: block;
    }
  }
}

.container--signin {
  width: 100%;
  position: static;
  display: block;
  z-index: 2;

  @include tablets {
    position: absolute;
    opacity: 1;
    left: 0;
    width: 50%;
    display: block;
  }
}

.container--signup {
  width: 100%;
  position: static;
  left: unset;
  display: none;
  z-index: 1;

  @include tablets {
    position: absolute;
    left: 0;
    display: block;
    opacity: 1;
    width: 50%;
  }
}

.overlay {
  height: 100px;
  background-color: #008997;
  background: url("../../img/bg.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: -100%;
  position: relative;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
  width: 200%;

  @include tablets {
    height: 100%;
  }

  &__panel {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    width: 50%;
  }
}

.overlay--left {
  transform: translateX(-20%);
}

.overlay--right {
  right: 0;
  transform: translateX(0);
}

.auth-form {
  background-color: $color-white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  text-align: center;

  &__title {
    font-family: "Panton-Bold";
    font-size: 21px;
    line-height: 21px;
    margin: 0;
    margin-bottom: 20px;
  }

  &__btn {
    margin-top: 20px;
  }
}

.input {
  @include popup-input;
  margin: 10px 0;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}
