@import "../../styles/mixins.scss";

.searched {
  min-width: 320px;
  padding: 30px 0;

  @include tablets {
    min-height: $min-height-section-for-slider;
  }

  &__container {
    @include container;
  }

  &__title {
    font-family: "Panton-Bold";
    font-size: 30px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;

    @include tablets {
      text-align: left;
    }
  }

  &__text {
    font-family: "Proxima Nova Semibold";
    font-size: 21px;
    color: rgba($color-text, 0.9);
    margin-top: 20px;
    margin-bottom: 20px;

    @include tablets {
      font-size: 28px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  &__amount {
    font-family: "Panton-Bold";
    font-size: 24px;
    color: rgba($color-text, 1);

    @include tablets {
      font-size: 32px;
    }
  }

  &__button-show-more {
    text-align: center;
    padding: 10px;
  }

  &__card-list {
    @include tablets {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__card-item {
    margin-bottom: 10px;

    @include tablets {
      margin-bottom: 20px;
      width: 48%;
      margin-right: 4%;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    @include desktop {
      width: 32%;
      margin-right: 2%;

      &:nth-child(2n) {
        margin-right: 2%;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    @include desktopHd {
      width: 23%;
      margin-right: 2%;

      &:nth-child(3n) {
        margin-right: 2%;
      }

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }

  &__big-card-slider {
    @include popup-container;
    top: 0;
    width: 100%;
    margin: 0;

    @include tablets {
      @include popup-container;
    }
  }
}
