@import "../../styles/mixins.scss";
@import "../../styles/common.scss";

.footer {
  background-image: linear-gradient(
      rgba(50, 50, 50, 0.5),
      rgba(50, 50, 50, 0.3)
    ),
    url("/img/no_album_cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;

  min-width: 320px;
  padding: 15px;

  color: $color-white;
  font-family: "ProximaNova-Light";
  text-align: center;
  font-size: 14px;
  line-height: 21px;

  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    position: relative;
    @include max-with-container;

    @include tablets {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__button-up {
    height: 60px;

    @include tablets {
      position: absolute;
      top: 0;
      left: 50%;
    }
  }

  &__desc {
    margin-bottom: 20px;
    mix-blend-mode: difference;
    color: rgba($color-white, 0.9);

    @include tablets {
      flex-basis: 40%;
      text-align: left;
    }
  }
  &__copyright {
    mix-blend-mode: difference;
    color: rgba($color-white, 0.9);

    @include tablets {
      flex-basis: 40%;
      text-align: right;
    }
  }
}
