@import "../../styles/common.scss";

.my-posts {
  min-width: 320px;
  padding: 30px 0;
  background: $color-white;
  /* position: relative; */

  @include tablets {
    min-height: $min-height-section-for-slider;
  }

  &__container {
    @include container;
  }

  &__topgroup {
    position: relative;
  }

  &__title {
    font-family: "Panton-Bold";
    font-size: 30px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;

    @include tablets {
      text-align: left;
    }
  }

  &__button-plus {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
  }

  &__add-post {
    @include fixed-popup-container;
  }

  &__big-card-slider {
    @include popup-container;
    top: 0;
    width: 100%;
    margin: 0;

    @include tablets {
      top: 100px;
    }
  }
}

.add-post {
  @include popup;

  &__card {
    min-width: 288px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
  }

  &__topgroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
  }

  &__title {
    font-family: "Panton-Bold";
    font-size: 21px;
    line-height: 21px;
  }
}

.form-addPost {
  display: flex;
  flex-direction: column;
  background-color: $color-white;

  &__load-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    border: 3px dashed #f1f1f1;
    border-radius: 10px;
    margin: 0 10px 10px;
    min-height: 280px;
    max-height: 400px;
    position: relative;

    @include tablets {
      min-height: 300px;
    }

    &:hover .form-addPost__load-photo-text-button {
      background-color: $color-main-bg;
      color: $color-white;
    }
    &:hover .form-addPost__load-photo-text {
      @include tablets {
        color: $color-main-bg-hover;
      }
    }
  }

  &__label {
    font-family: "Proxima Nova Semibold";
    font-size: 14px;
    padding: 10px 10px 0 10px;

    @include tablets {
      display: flex;
      align-items: center;
      padding: 15px 10px 0px 10px;
    }
    &_file-load {
      padding: 10px;
      width: 100%;
      position: relative;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__input {
    @include popup-input;

    margin-top: 5px;

    &_textarea {
      resize: none;
      height: 80px;

      @include phones {
        height: 100px;
      }
      @include tablets {
        height: 140px;
      }
    }

    @include tablets {
      margin-left: 15px;
      flex-basis: 90%;
    }
  }

  &__input-load {
    cursor: pointer;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__added-photo {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablets {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__edit-post-fields {
  }

  &__load-photo-img {
    height: 32px;
    width: 32px;
    fill: rgba($color-text, 0.2);
  }

  &__load-photo-drag-text {
    font-family: "ProximaNova-Light";
    font-size: 16px;
    line-height: 21px;
    color: rgba($color-text, 0.8);
  }

  &__load-photo-text-button {
    font-family: "Proxima Nova Semibold";
    font-size: 12px;
    text-align: center;
    min-height: 38px;
    max-width: 260px;
    /* margin: auto; */
    padding: 10px 14px;
    border-radius: 30px;
    color: $color-main-bg;
    background-color: $color-white;
    border: 2px solid $color-main-bg;

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

    @include tablets {
      display: none;
    }
  }

  &__load-photo-drag-text {
    display: none;
    font-family: "ProximaNova-Light";
    font-size: 16px;
    line-height: 21px;

    @include tablets {
      display: inline;
    }
  }

  &__load-photo-text {
    display: none;

    @include tablets {
      display: inline-block;
      font-family: "Proxima Nova Semibold";
      font-size: 16px;
      line-height: 21px;
      color: $color-main-bg;
      /* margin-right: calc(50% - 100px);
          margin-left: calc(50% - 100px);
          text-align: center; */
      width: 200px;
      /* min-height: 38px; */
      /* padding: 0;
          border-radius: 0;
          background-color: transparent;
          border: none; */
    }
  }

  &__buttons {
    background-color: #f1f1f1;
    padding: 10px;
  }

  &__buttonspace {
    margin-right: 10px;
  }

  &__error {
    @include error;
    padding: 0 10px 10px 15px;
  }
}

.added-photo {
  display: flex;
  padding: 10px;
  padding-top: 20px;

  @include tablets {
    padding: 20px;
  }

  &__close-button {
    position: absolute;
    right: -8px;
    top: -12px;
    width: 32px;
    height: 32px;
  }

  &__item {
    position: relative;
    border-radius: 1px;
    background-color: rgb(207, 216, 220);
    width: 120px;
    height: 120px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @include phones {
      width: 150px;
      height: 150px;
    }
    @include tablets {
      width: 200px;
      height: 200px;
    }
  }
}
