@import "../../styles/mixins.scss";

.postslist {
  @include tablets {
    display: flex;
    flex-wrap: wrap;
  }

  &_alternative {
    position: relative;

    &__item {
      margin-bottom: 10px;

      @include tablets {
        width: 48%;
        margin-bottom: 20px;
        margin-right: 4%;

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
      @include desktop {
        width: 32%;
        margin-right: 2%;

        &:nth-child(2n) {
          margin-right: 2%;
        }
        &:nth-child(3n) {
          margin-right: 0;
        }
      }
      @include desktopHd {
        width: 22%;
        margin-right: 4%;

        &:nth-child(2n) {
          margin-right: 4%;
        }
        &:nth-child(3n) {
          margin-right: 4%;
        }
        &:nth-child(4n) {
          margin-right: 0;
        }
      }
    }
  }

  &__item {
    margin-bottom: 15px;

    @include tablets {
      margin-bottom: 25px;
      width: 48%;
      margin-right: 4%;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    @include desktop {
      width: 32%;
      margin-right: 2%;

      &:nth-child(2n) {
        margin-right: 2%;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    @include desktopHd {
      width: 23%;
      margin-right: 2%;

      &:nth-child(3n) {
        margin-right: 2%;
      }

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}
