@import "./styles/common.scss";

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  overflow: hidden;
  min-height: 100%;
  position: relative;

  &_not_found {
    background-color: #3e3a39;
    background-image: url("/img/not-found.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__preloader {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 15;
    background-color: rgba($color-white, 0.9);
  }
}
