@import "../../styles/common.scss";

.nav {
  width: 100%;

  background-color: $color-text;

  @include tablets {
    padding: 10px 0;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    @include container;
  }
  &__button:not(:last-child) {
    margin-right: 10px;
    @include tablets {
      margin-right: 50px;
    }
  }
}
